<section id="blog" class="section blog">
    <div class="container">
        <div class="title">
            <h2 class="title text-center">Blog</h2>
        </div>
        <div class="posts">
            <ul>
                {% for post in site.posts %}
                {% unless post.categories contains 'event' %}
                <li class="post">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <p class="summary">
                        By {{ post.author }} &nbsp;|&nbsp;
                        <span class="date">
			    			{{ post.date | date: '%B %d, %Y' }}
			    		</span>
                    </p>
                    {{ post.excerpt }}
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
