 <section id="cips" class="home section">
     <div class="container">
         <div class="contact-inner">
             <h2 class="title  text-center">Cypher Improvement Proposals (CIPs)</h2>

             <p>
                 The evolution of Cypher is driven by the production and acceptance of <a href="https://github.com/opencypher/openCypher/tree/master/cip">CIPs</a>,
                 which are written as a response to <a href="https://github.com/opencypher/openCypher/issues?q=is%3Aopen+is%3Aissue+label%3ACIR" target="_blank">Cypher Improvement Requests (CIRs)</a>.
                 CIRs are feature requests, and are raised as issues to the <a href="https://github.com/opencypher/openCypher/">openCypher repository</a>.
                 CIPs are documents that outline the syntax and semantics of the proposed new Cypher features, and are raised as a PR to the openCypher repository.
             </p>

             <h3>CIPs accepted into openCypher</h3>

             <p>
                 CIPs that are accepted into the language exists at two integration levels and can be found in the openCypher repository's master branch in the respective directories:
             </p>
             <ol>
                 <li>Accepted CIPs: <a href="https://github.com/opencypher/openCypher/tree/master/cip/1.accepted">cip/1.accepted</a></li>
                 <li>Testable CIPs: <a href="https://github.com/opencypher/openCypher/tree/master/cip/2.testable">cip/2.testable</a></li>
             </ol>
             <p>
                 Testable CIPs have test coverage in the <a href="https://github.com/opencypher/openCypher/tree/master/tck">TCK (Technology Compatibility Kit)</a>, while accpeted CIPs do not have such coverage.
                 An accepted CIP can be promoted to a testable CIP by a PR to the openCypher repository that adds sufficient scenarios to the TCK.
             </p>
         </div>
     </div>
 </section>
