 <section id="cips" class="faq section">
     <div class="container">
         <div class="contact-inner">
             <h2 class="title  text-center">Cypher Improvement Proposals (CIPs)</h2>

             <p>
                 The evolution of Cypher is driven by the production and acceptance of <a href="https://github.com/opencypher/openCypher/tree/master/cip">CIPs</a>.
                 CIPs are documents that outline the syntax and semantics of proposed new Cypher features.
             </p>

             <h3>The CIP Lifecycle</h3>

             <p>
                 CIPs normally pass through a number of phases in the process of incorporating them into the language.
             </p>
             <h4>Accepted</h4>

             <p>
                 Accepted CIPs are added to the openCypher repository, and can be found <a href="https://github.com/opencypher/openCypher/tree/master/cip/1.accepted">here</a>.
                 It is open to anyone to author and submit a CIP, which takes the form of a pull request to the openCypher repository.
                 It is then the task of the Cypher Language Group to discuss, give feedback, and eventually (potentially) accept the CIP,
                 at which point the pull request will be merged.
             </p>
             <h4>Testable</h4>

             <p>
                 A CIP enters this phase when it has received a sufficient set of TCK scenarios that outline the use of
                 its suggested features. A list of CIPs in this state can be found <a href="https://github.com/opencypher/openCypher/tree/master/cip/2.testable">here</a>.
             </p>
         </div>
         </div>
 </section>
