<!-- ******ABOUT****** -->
<section id="faq" class="home section">
    <div class="container">
        <div class="faq-inner">
            <h2 class="title text-center">Contributions</h2>

            <div class="panel-body">
                <p>
                    openCypher is an open source implementation of Cypher®. Before submitting a code contribution please discuss it with the community by creating a new issue.
                    Please raise language change proposals as a Cypher Improvement Request (CIR) issue or a Cypher Improvement Proposal (CIP), or as presentations or notes for discussion at openCypher implementers meetings, which are open to anyone interested in the evolution of the Cypher language.
                </p>

                <p>
                    Please note that CIRs, CIPs and any other contribution to the openCypher projects hosted in the openCypher Github organization repositories, as well as the Cypher Frontend (currently hosted in the neo4j/neo4j Github repository), as well as any content that you agree to share with the community through display on the openCypher website, can only be accepted if you have agreed to the <strong><a href="{{ site.baseurl }}/occa">openCypher Contributor Agreement (oCCA)</a></strong>.
                </p>

                <p>
                    Before raising issues, making language change proposals, or submitting a code contribution, please confirm your agreement to the terms of the oCCA by sending an e-mail to <strong><a href="mailto:occa@opencypher.org">occa@opencypher.org</a></strong>.
                    Include your full name, e-mail and attach a copy of the agreement.
                    You don’t have to sign it or scan it, but you do need to fill in the name of your organization if you’re contributing as an employee or representative of a company or institution.
                </p>

                <p>
                    Once you’ve done this your name will be on the list of oCCA signatories, and you’ll be able to contribute to any project under the umbrella of the openCypher initiative.
                </p>

                <p>
                    The contributions of all Neo4j employees or agents (people who have email addresses in either of the neo4j.com or neotechnology.com domains) are and will be <strong><a href="{{ site.baseurl }}/contributions#neo4j-license-grant">licensed to the community</a></strong> on the same terms as the contributions of others, and that’s part of the oCCA.
                </p>

                <p>
                    For pull requests to be accepted into an openCypher project, the bottom of your commit message must have the following line using your name and e-mail address as it appears in the list of oCCA signatories:
                </p>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Signed-off-by: Your Name <a href="mailto:you@example.org">you@example.org</a></strong>
                </p>

                <p>
                    This can be automatically added to pull requests by committing with:
                </p>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;<strong>git commit --signoff</strong>
                </p>

                <p>
                    Only pull requests from committers that can be verified as having signed the oCCA can be accepted.
                </p>

                <p>
                    The oCCA ensures that all implementers and all contributors to language design can work freely in any context (commercial, academic or other not-for-profit), using the contributions of all others, with the best possible protection against the danger of infringing the intellectual property rights of other people or organizations.
                </p>

                <p>&nbsp;</p>

                <h3><a id="neo4j-license-grant">Neo4j license grant</a></h3>

                <p>
                    Neo4j Inc hereby makes available all the content stored on or linked from the openCypher Github repository and the openCypher.org website (both of which are maintained on behalf of the openCypher contributors community by Neo4j Inc) under the <strong><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License 2.0</a></strong>, unless that content is marked as being otherwise licensed or is marked NOT A CONTRIBUTION.
                </p>

                <p>
                    If you feel that content supplied by you should not be licensed in this way, then please contact <strong><a href="mailto:occa@opencypher.org">occa@opencypher.org</a></strong> to arrange for remediation.
                </p>

                <p>
                    Cypher® is a trademark of Neo4j®. Please refer to <a href='https://neo4j.com/trademark-policy/'>Neo4j's trademark policy</a> to guidance on when and how you can use Cypher.
                </p>

                <p>
                    <strong>13 March 2018</strong>
                </p>
            </div>

            </div>
        </div>

    </div><!--//container-->
</section><!--//faq->
