<section id="blog" class="section blog">
	<div class="container">
		<div class="title">
			<h2 class="title text-center">Events</h2>
		</div>
		<p>
			Below are listed all openCypher-related events.
		</p>
		<div class="posts">
			<ul>
				{% for post in site.posts %}
				{% if post.categories contains 'event' %}
				<li class="post">
					<h3><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: '%B %d, %Y' }}</a></h3>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
