    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="faq-inner">
            <h2 class="title text-center">Frequently Asked Questions</h2> 

            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is Cypher?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Cypher is a graph query language that allows for expressive and efficient querying of graph data. Cypher is intuitive, powerful and easy to learn.</p>
                    <p>It lets you write graph queries by describing patterns in your data. Because graphs already describe your domain, Cypher lets you focus on your domain instead of getting lost in the mechanics of data access. </p>
                    <p>Designed to be a human readable query language, Cypher is suitable for developers and operations professionals alike. The guiding principle behind Cypher is to make simple things easy and complex things possible. Cypher combines English prose and intuitive iconography, making queries more self-explanatory.</p>
                    <p>Cypher is declarative, which means it lets users express what data to retrieve, letting the engine underneath take care of seamlessly retrieving it. In contrast, imperative or scripting languages, including early-generation graph languages, require query writes to have a deep technical understanding of physical implementation details. Cypher eliminates this burden.</p>

                    <p>The expressive querying of Cypher is inspired by a number of different approaches and established practices. Most of the keywords, such as <code>WHERE</code> and <code>ORDER BY</code> , are inspired by SQL, while pattern matching borrows from SPARQL. In addition, some of the collection semantics have been borrowed from languages such as Haskell and Python.</p> 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How does openCypher benefit me?</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The openCypher project makes it possible for any developer or technology provider to use Cypher and incorporate graph processing capabilities within that product or application.</p>

                    <p>Easy-to-learn and yet extremely powerful, Cypher is the industry’s most successful and widely adopted graph query language. With the advent of openCypher, the language promises to be just as instrumental in the growth of graph processing and analysis as SQL was instrumental in accelerating the adoption of RDBMS. </p>

                    <p>With tens of thousands of users already trained in Cypher and numerous tooling providers already offering support for the language, openCypher provides a seamless way for industry participants to provide graph capabilities in their data platforms – ranging from database suppliers, tooling vendors and the broader graph ecosystem.</p>

                    <h5>For data and tooling providers:</h5>
                    <ul>
                      <li>Improve time to market with tools, tests and specifications that enable rapid access to graph processing capabilities </li>
                      <li>Collaborate on the evolution of Cypher to increase the size of the graph ecosystem</li>
                    </ul>

                    <h5>For application developers:</h5>
                    <ul>
                      <li>Reuse graph query knowledge and skills across a multitude of products that support</li>
                      <li>Cypher as the graph query language</li>
                    </ul>

                    <h5>For enterprises:</h5>
                    <ul>
                      <li>Interoperability and vendor independence by interfacing with products using a common query language</li>
                      <li>Higher availability of skilled developers trained in a graph query language used across multiple products</li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What will be delivered as part of openCypher?</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The project aims to deliver four types of artifacts: </p>

                    <ul>
                        <li><strong>Cypher Reference Documentation</strong><br />
                          Comprehensive user documentation describing use of the Cypher query language with examples and tutorials.</li>
                        <li><strong>Technology certification kit (TCK)</strong><br />
                          The TCK consists of a number of tests that a software supplier would run in order to self-certify support for a given version of Cypher.</li>
                        <li><strong>Reference implementation</strong><br />
                          Distributed under the Apache 2.0 license, the reference implementation is a fully functional implementation of key parts of the stack needed to support Cypher inside a data platform or tool. The first planned deliverable is a parser that will take a Cypher statement and parse it into an AST (abstract syntax tree) representation. The reference implementation complements the documentation and tests by providing working implementations of Cypher – which are permissively licensed – and can be used as examples or as a foundation for one’s own implementation. </li>
                        <li><strong>Cypher language specification</strong><br />
                          Licensed under the <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons license</a>, the Cypher language specification is a technical expression of the language syntax to enable parsers to auto-generate the query syntax. A full semantic specification is also planned as a part the openCypher project.</li>
                     </ul>

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What companies are already involved in openCypher?</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">            
                    <p>The openCypher project includes support from <a href="http://www.oracle.com/">Oracle</a>, <a href="https://databricks.com/">Databricks</a> (the company behind <a href="http://spark.apache.org/">Apache Spark</a>), <a href="http://neo4j.com/company">Neo Technology</a>, <a href="http://www.tableau.com/">Tableau</a>, <a href="http://graphaware.com/">GraphAware</a>, <a href="http://www.graphenedb.com/">GrapheneDB</a>, <a href="https://www.graphstory.com/">Graph Story</a>, <a href="https://www.graphgrid.com/">GraphGrid</a>, <a href="http://www.infoa.com/">Information Analysis Incorporated (IAI)</a>, <a href="http://linkurio.us/">Linkurious</a>, <a href="https://structr.org/">Structr</a>, <a href="https://purethink.com/">PureThink</a> and <a href="https://www.tomsawyer.com/">Tom Sawyer Software</a>.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What is the industry saying about openCypher?</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>Oracle</h4>
                    <p><em>"Oracle is a strong supporter of standard, open APIs and languages. As with SQL, we believe open language standards accelerate platform and paradigm adoption. With the release of Oracle Big Data Spatial and Graph and our longstanding support for the Spatial and Graph option for Oracle Database, we are excited to deliver new, scalable solutions to the graph community. openCypher offers the graph community an opportunity to address the need for standards-based interfaces to simplify graph data access."</em><br />
                    - Jim Steiner, Vice President, Spatial and Graph Technologies, Oracle</p>

                    <h4>Databricks</h4>
                    <p><em>"Graph processing is becoming an indispensable part of the modern big data stack. Neo4j’s Cypher query language has greatly accelerated graph database adoption. We look forward to bringing Cypher’s graph pattern matching capabilities into the Spark stack, making graph querying more accessible to the masses."</em><br />
                    - Ion Stoica, CEO, DataBricks</p>

                    <h4>Neo Technology</h4>
                    <p><em>"Companies such as Google, Facebook and LinkedIn have leveraged graph processing to transform their respective industries. openCypher promises to bring the same transformative power of graphs to enterprises of any size."</em><br />
                    - Emil Eifrem, CEO of Neo Technology, Creator of Neo4j and Cypher</p>

                </div>
              </div>
            </div>           
            </div> 
  
            
            </div><!--//faq-inner-->         
        </div><!--//container-->
    </section><!--//faq->

    <style>
.panel-heading a {text-decoration: none; }

    </style>
