    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="faq-inner">
            <h2 class="title text-center">Frequently Asked Questions</h2> 

            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is Cypher?</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Cypher is an open graph query language that allows for expressive and efficient querying of graph data. Cypher is intuitive, powerful and easy to learn. It lets you write graph queries by describing patterns in your data. Because graphs describe your domain, Cypher lets you focus on your domain instead of getting lost in the mechanics of data access.</p>
                    <p>Cypher is designed to be a human readable query language, suitable for both developers and operations professionals. The guiding principle behind Cypher is to make simple things easy, and complex things possible. Cypher combines English prose and neat iconography which helps to make queries more self-explanatory. </p>
                    <p>Cypher is declarative, which means that it lets users express what data to retrieve, letting the engine underneath Cypher take care of seamlessly retrieving it. This is in contrast to imperative or scripting languages, including early-generation graph languages, which require query writes to have a deep technical understanding of physical implementation details. </p>
                    <p>Cypher inspired by a number of different approaches and builds upon established practices for expressive querying. Most of the keywords like <code>WHERE</code> and <code>ORDER BY</code> are inspired by SQL. Pattern matching borrows expression approaches from SPARQL. Some of the collection semantics have been borrowed from languages such as Haskell and Python.   </p>    
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What are the benefits of openCypher?</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The openCypher project will make it possible for any developer or technology provider to use Cypher and incorporate and/or enable access to graph processing capabilities within that product or application.  openCypher will also help tooling providers gain efficiencies by gaining multi-platform.</p>

                    <p>openCypher delivers Cypher as an open graph query language, which can be used by any product or application as a query language for graph processing capabilities within that product or application. As an easy-to-learn and yet an extremely powerful graph query language, Cypher is currently the industry’s most successful and widely adopted graph query language and with openCypher, the language promises to be instrumental in the growth of graph processing and analysis in the same way that SQL has been instrumental in accelerating the adoption of RDBMS. </p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What will be delivered as part of openCypher?</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>The project aims to deliver four types of artifacts: </p>

                    <ul>
                        <li><strong>Cypher Reference Documentation</strong> - comprehensive user documentation describing use of the Cypher query language, with examples & tutorials</li>
                        <li><strong>Technology certification kit (TCK)</strong> - The TCK consists of a number of tests that a software supplier would run in order to self certify support for a given version of Cypher</li>
                        <li><strong>Reference implementation</strong> - Distributed under the Apache 2.0 license, the reference implementation is a fully functional implementation of key parts of the stack that one would need to build to support Cypher inside of one’s data platform or tool. The first planned deliverable is a parser that will take a Cypher statement and parse it into an AST (abstract syntax tree) representation. The reference implementation complements the documentation and tests by providing working implementations of Cypher, that are permissively licensed, and can be used as examples or as a foundation for one’s own implementation. </li>
                        <li><strong>Cypher language specification</strong> - Licensed under the creative commons license <<link>>, the Cypher language specification is a technical expression the language syntax to enable parsers to auto-generate the query syntax. A full semantic specification is also planned as a part  openCypher. </li>
                     </ul>

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Who is behind openCypher?</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">            
                    <p>openCypher includes support from industry heavyweights such as Oracle, SAP, Microsoft and IBM. Other early supporters include ThoughtWorks, Tableau, and DataBricks, the company behind Apache Spark. </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What is the industry saying about openCypher?</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>Oracle</h4>
                    <p><em>"The industry has seen through SQL the effect that a query language can have on accelerating platform adoption. As the most successful and widely adopted graph query language, Cypher is a natural choice for Oracle, and we look forward to rolling out support for it soon in Oracle Big Data Spatial & Graph."</em><br />
                    - Andy Mendelsohn, Oracle Executive Vice President</p>

                    <h4>Databricks</h4>
                    <p><em>"Graph processing is becoming an indispensable part of the modern big data stack. Neo4j’s Cypher query language has greatly accelerated graph database adoption. We are looking forward to bringing Cypher’s graph pattern matching capabilities into the Spark stack, making graph querying accessible to the masses."</em><br />
                    - Ion Stoica, the CEO of DataBricks</p>

                    <h4>Forrester Research</h4>
                    <p><em>"Today’s announcement is big news for the already rapidly-growing graph database space.An important and necessary step in the growth of any DBMS category is for the industry to coalesce around a standard language. Opening Cypher will make it easier for new vendors to enter the space, promoting competition, and be a great benefit to users of graph technology, by providing a clear choice of language to use."</em><br />
                    - Noel Yuhanna, Principal Analyst</p>

                    <h4>Neo Technology</h4>
                    <p><em>"Companies such as Google, Facebook and LinkedIn have leveraged graph processing to transform their respective industries. openCypher promises to bring the same transformative power of graphs to enterprises of any size."</em><br />
                    - Emil Eifrem, CEO of Neo Technology, Creator of Neo4j and Cypher</p>

                </div>
              </div>
            </div>           
            </div> 
  
            
            </div><!--//faq-inner-->         
        </div><!--//container-->
    </section><!--//faq->

    <style>
.panel-heading a {text-decoration: none; }

    </style>
