
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <div class="col-md-12">
                <h2 class="title">openCypher Project</h2>
                <p>openCypher is an open source project to bring a new public implementation of the industry’s most widely adopted graph query language: Cypher.</p>
                <p>The openCypher project aims to improve growth and adoption of graph processing and analysis by providing an open graph query language to any data store, tooling or application provider as a mechanism to query graph data.</p>
                <p>The project aims to bring the power of graph processing and analysis to the masses by:</p>
            </div><!--//container-->
        </div>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">

                <ul>
                    <li>Providing a query language with full support</li>
                    <li>Making graph processing and analysis easier to adopt</li>
                    <li>Granting vendor independence to all users</li>
                    <li>Easing graph integration with other data platforms</li>
                </ul>
            </div>
        </div><!--//container-->
    </section><!--//features-->
 