    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">openCypher Project</h2>
        </div>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <p>The project aims to bring the power of graph processing and analysis to the masses by:</p>
                <ul>
                    <li>Providing a query language with full support</li>
                    <li>Making graph processing and analysis easier to adopt</li>
                    <li>Granting vendor independence to all users</li>
                    <li>Easing graph integration with other data platforms</li>
                </ul>
            </div>
        </div><!--//container-->
    </section><!--//features-->
 