<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">© 2017 <a href="http://neo4j.com/company/">Neo Technology, Inc.</a>
            <br/>
            Cypher and Neo Technology are registrated trademarks of Neo Technology, Inc.
            <br/>
            <a href="/terms/">Terms</a> | <a href="/privacy-policy">Privacy Policy</a>
        </small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="/public/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/public/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/public/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/public/plugins/prism/prism.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
