<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo pull-left">
            <a href="/website/"><span class="logo-title">openCypher</span></a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/website/"><i class="fa fa-home"></i></a></li>
                    <li class="nav-item"><a href="/website/cips">Features</a></li>
                    <li class="nav-item"><a href="/website/projects">Cypher in use</a></li>
                    <li class="nav-item"><a href="/website/events">Events</a></li>
                    <li class="nav-item"><a href="/website/contributions">Get involved</a></li>
                    <li class="nav-item"><a href="/website/articles">Articles</a></li>
                    <li class="nav-item"><a href="/website/references">References</a></li>
                    <li class="nav-item"><a href="/website/resources">Resources</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->
