<!-- ******ABOUT****** -->
<section id="home" class="home section" xmlns="http://www.w3.org/1999/html">
    <div class="container">

        <h2 class="title text-center">What is openCypher?</h2>

        <div class="content">
            <p>
                openCypher is an open source specification of Cypher® - the most widely adopted query language for property graph databases.
                Cypher was developed by <a href='https://neo4j.com/'>Neo4j®</a>.
                Today, the specification of openCypher evolves towards <a href="https://www.iso.org/standard/76120.html">ISO/IEC 39075 GQL</a> — the property graph query language standard developed by <a href="https://jtc1info.org/sd-2-history/jtc1-subcommittees/sc-32/">ISO/IEC JTC1 SC32</a> WG3.
            </p>
            <p>
                With <a href="https://www.iso.org/standard/76120.html">ISO/IEC 39075 GQL</a>,
                the purpose of openCypher is to <a href="https://neo4j.com/blog/opencypher-gql-cypher-implementation/">pave the road</a>
                to GQL for openCypher implementers.
                Changes to openCypher are made by adding GQL features to openCypher.
            </p>
            <p>
                Prior to ISO/IEC 39075 GQL, the purpose of openCypher was to define a common language for property graphs, and the evolution of the Cypher® language was driven by the openCypher Implementers Group.
                Documentation of that time can be found <a href="{{ site.baseurl }}/oC9history">here</a>.
            </p>
        </div>

        <!--div class="row">
            <div class="item col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
                <div class="banner">
                    <h3>... some news title ...</h3>
                    <p>
                    ... some news text ...
                    </p>
                </div>
            </div>
        </div-->

        <h2 class="title text-center">This website</h2>

        <div class="content">
            <ul>
                <li>Provides access to the <a href="{{ site.baseurl }}/resources/">latest language resources required to implement
                    openCypher</a></li>
                <li>Allows for the <a href="https://github.com/opencypher/openCypher">raising of issues around openCypher</a>
                </li>
            </ul>
        </div>

        <h2 class="title text-center">More about openCypher</h2>

        <div class="content">
            <ul>
                <li>openCypher is an open-source project that helps to implement the openCypher language in graph
                    database or graph processing tools.
                </li>
                <li>Easy-to-learn and human-readable, openCypher is suitable for developers, data scientists and
                    operations professionals alike.
                </li>
                <li>openCypher lets users simply express what data to retrieve (declarative) while the underlying
                    engine completes the task without requiring that they understand implementation details.
                </li>
                <li>Cypher is implemented by various product and open source projects and is used by a large and
                    growing community of developers on a daily basis.
                </li>
                <li>openCypher was a key inspiration for the
                    <a href="https://www.iso.org/standard/76120.html">ISO/IEC 39075 GQL</a> project.
                </li>
                <li>With <a href="https://www.iso.org/standard/76120.html">ISO/IEC 39075 GQL</a> published (April 11, 2024),
                    the mission of openCypher is to <a href="https://neo4j.com/blog/opencypher-gql-cypher-implementation/">help implementors to evolve their implementation towards GQL</a>.
                </li>
                <li>The openCypher project will continue integrating GQL features into its specification incrementally,
                    so that over time the openCypher specification evolves to become GQL conformant.
                </li>
            </ul>
        </div>

        <hr/>

        <div class="text-center">
            <p>
                Get in touch or follow our activity through the following communication channels:
            </p>
            <ul class="social-icons list-inline">
                <li><a href="https://groups.google.com/forum/#!forum/opencypher" target="_blank"><i
                        class="fa fa-group"></i></a></li>
                <!--li><a href="https://twitter.com/opencypher" target="_blank"><i class="fa fa-twitter"></i></a></li-->
                <li><a href="mailto: info@opencypher.org"><i class="fa fa-envelope"></i></a></li>
                <li class="last"><a href="https://github.com/opencypher/openCypher"><i class="fa fa-github"></i></a>
                </li>
                <!--li class="last"><a href="https://community.neo4j.com/c/neo4j-graph-platform/gql-opencypher/98"><i
                        class="fa fa-comments"></i></a></li-->
            </ul>
            <p>
                Most of our activity happens on the GitHub repository.
            </p>
        </div>
    </div>
</section>
