<!-- ******ABOUT****** -->
<section id="home" class="home section">
    <div class="container">
        <div class="row">
            <div class="item col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
                <h2 class="title text-center">What is openCypher?</h2>
                <h3 class="title text-center">The openCypher project aims to deliver a full and open specification of
                    the industry’s most widely adopted graph database query language: <strong>Cypher.</strong></h3>
            </div>
        </div>

        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-bullseye"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Focus on Your Domain</h3>
                    <p>Graphs naturally describe your domain, and Cypher lets you focus on that domain instead of
                        getting lost in the mechanics of data access. Both <i>expressive</i> and <i>efficient</i>,
                        Cypher is <i>intuitive</i>
                        and immediately familiar.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Human Readable</h3>
                    <p>Cypher is a <i>human-readable</i> query language that makes common operations easy. A combination
                        of
                        English prose and <i>intuitive iconography</i>, Cypher is <i>accessible</i> to developers and
                        operations
                        professionals alike.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-share-alt"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Complete Open Source Access</h3>
                    <p>The openCypher project means you can use Cypher as your query language for graph processing
                        capabilities within any product or application. Databases like <b>SAP HANA Graph</b>, <b>Redis</b>, <b>AgensGraph</b>
                        and <b>Neo4j</b> all use the Cypher query language – now you can too.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
        <div class="row">
            <div class="item col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
                <div class="cypher">
                        <pre>

     MATCH (d:Database)-[:USES]->(<b>Cypher</b>)-[:QUERIES]->(:Model:Graph)
     WHERE d.name IN [<b>'SAP HANA Graph','Redis','AgensGraph', 'Neo4j'</b>,...]
     RETURN Cypher.features
                        </pre>
                </div><!--//cypher-->
            </div><!--item-->
        </div><!--//row-->

        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <p>The <strong>openCypher project</strong> aims to improve growth and adoption of graph processing and
                    analysis by providing an open graph query language to any data store, tooling or application
                    provider as
                    a mechanism to query graph data.</p>
            </div><!--//container-->
        </div>
        <div class="container">
            <div class="col-md-6 col-md-offset-1">

                <ul>
                    <li>Provides a query language with full support</li>
                    <li>Makes graph processing and analysis easier to adopt</li>
                    <li>Grants vendor independence to all users</li>
                    <li>Eases graph integration with other data platforms</li>
                </ul>
            </div>
        </div><!--//container-->

        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <p>The following resources may be downloaded from the <a href="http://www.opencypher.org/resources" target="_blank">Resources</a> page:</p>
            </div><!--//container-->
        </div>
        <div class="container">
            <div class="col-md-6 col-md-offset-1">
                <ul>
                    <li>TCK (Technology Compatibility Kit)</li>
                    <li>Grammar specification (along with EBNF and ANTLR grammars, and railroad diagrams)</li>
                    <li>Cypher Style Guide</li>
                </ul>
            </div>
        </div><!--//container-->

        <hr/>

        <div class="text-center">
            <p>
                Get in touch or follow our activity through the following communication channels:
            </p>

            <ul class="social-icons list-inline">
                <li><a href="https://groups.google.com/forum/#!forum/opencypher" target="_blank"><i
                        class="fa fa-group"></i></a></li>
                <li><a href="https://twitter.com/opencypher" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="mailto: openCypher@neo4j.com"><i class="fa fa-envelope"></i></a></li>
                <li class="last"><a href="https://github.com/opencypher/openCypher"><i class="fa fa-github"></i></a>
                </li>
                <li class="last"><a href="http://neo4j-users-slack-invite.herokuapp.com/"><i
                        class="fa fa-slack"></i></a></li>
            </ul>

            <p>
                Most of our activity happens on the GitHub repository, where you may for example submit or comment on
                CIRs (Cypher Improvement Requests).
                The Slack link points to a sign-up page, which will give you an invitation to the <a
                    href="https://neo4j-users.slack.com/">neo4j-users</a> Slack team, where we live in the #opencypher
                channel.
            </p>
        </div>
    </div>
</section>
