<section id="ocig" class="home section">
    <div class="container">
        <p class="contact-inner">
        <h2 class="title  text-center">openCypher Implementers Group (oCIG)</h2>

        <p>
            Following the second <a href="/event/2017/05/10/event-ocim2" target="_blank">openCypher Implementers
            Meeting (oCIM 2) in London in May 2017</a>, we're moving to a model where language changes proposed via
            Cypher Improvement Requests (<a
                href="https://github.com/opencypher/openCypher/issues?q=is%3Aopen+is%3Aissue+label%3ACIR"
                target="_blank">CIRs</a>) and Improvement Proposals (<a href="/cips/" target="_blank">CIPs</a>)
            are going to be discussed and agreed
            or rejected in regular virtual meetings of the openCypher community.
            The plan is to get going with a schedule of meetings every two to three weeks over the summer of 2017, heading
            towards the next face-to-face meeting at the time of Neo4j's GraphConnect New York conference in late October.
        </p>

        <p>
            These meetings of the openCypher Implementers Group (oCIG) are open to any interested parties who share
            the goals of improving the feature set, expressiveness and aesthetics of the Cypher language, and of
            helping Cypher to develop into a true open standard for declarative querying of property graphs.
        </p>

        <p>
            We warmly welcome vendors, researchers and users to these meetings.
            All contributions, verbal and written, administrative and technical are very much appreciated: the aim
            is make more and more of a reality of the open community that is beginning to form around the ten-plus
            implementations of Cypher.
        </p>

        <p>&nbsp;</p>

        <p><b>We are pleased to announce that we are resuming our regular meetings in 2018.</b></p>

        <!-- Enumerate all oCIG posts, sorted -->
        {% assign sorted = (site.categories.ocig | sort: 'date') %}

        <!-- This allows us to change the view of this page with one line edit -->
        {% assign nextDate = "Wednesday, 14 March 2018" %}

        {% for post in sorted %}
            {% assign postDate = post.date | date: "%A, %-d %B %Y" %}
            {% if nextDate == postDate %}
                <h3>Next oCIG meeting: {{ nextDate }} at 16:00 UTC (oCIG 7)</h3>
                <div class="inline-agenda">
                    {{ post.agenda | markdownify }}
                </div>
                <p>
                    Visit the <a href= {{ post.url }}>meeting page</a> to view all details of this meeting.

                    To join the meeting, follow this GotoMeeting link: <a href="https://www.gotomeet.me/opencypher" target="_blank">https://www.gotomeet.me/opencypher</a>.
                </p>
            {% endif %}
        {% endfor %}

        <h3><a name="meetings"></a>Upcoming tentative meeting schedule for 2018</h3>
        <ul>
            {% for post in sorted %}
            {% assign postDateSeconds = post.date | date: "%s" %}
            {% if postDateSeconds > "1514764800" %}
            <li>
                <a href="{{ post.url }}"><b>{{ post.date | date: "%A, %-d %B %Y" }}</b> ({{ post.shortTitle }})</a> {% if post.tentative == "Y" %} * {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <p>* We note that some of the meetings in this schedule are tentative and subject to change, and thus currently act as placeholders. This is in order to accommodate a possible face-to-face meeting (April/May) and public holidays (July).</p>

        <!-- Display historical meetings -->
        <h3>Historical openCypher Implementers Group Meetings (2017)</h3>
        <ul>
            {% for post in sorted %}
            {% assign postDateSeconds = post.date | date: "%s" %}
            {% if postDateSeconds < "1508457540" %}
            <li>
                <a href="{{ post.url }}"><b>{{ post.shortTitle }}</b> - {{ post.date | date: "%A, %-d %B %Y" }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <p>
            The recordings for all previous oCIG meetings may be accessed <a href="https://www.youtube.com/playlist?list=PL-0meR18IcYYcEStr_DvVR5ma2kBtzvVr" target="_blank">here</a>.
        </p>

        <h3>Meeting logistics</h3>

        <p>
            The 2018 meetings will be held every four weeks, commencing on Wednesday the <b>14th of March 2018</b>.
        </p>

        <p>
            The call will open 15 minutes prior to the beginning of the meeting in order to allow some contingency in
            sorting out the technicalities of joining.
        </p>

        <h4>Local times</h4>
        <p>

            The call is scheduled for an hour and a half, and will start at <b>16.00 UTC</b>, which translates to:
        </p>
        <ul>
            <li>18.00 IDT (Tel Aviv)</li>
            <li>17.00 CEST (Berlin)</li>
            <li>16.00 GMT (London)</li>
            <li>12.00 EDT (New York)</li>
            <li>09.00 PDT (San Francisco)</li>
        </ul>

        <h4>How to join</h4>

        <p>
            The meeting will be hosted by Neo4j using <a href="https://www.gotomeeting.com/">GoToMeeting</a>.
            To participate in the meetings, either join using the desktop client, or through a web browser, or through a
            smartphone app, or dial in using a phone.
            Join the meeting by following this <a href="https://www.gotomeet.me/opencypher" target="_blank">direct link</a>.
        </p>

        <p>
            Dialing in via phone is possible through these country numbers:
        </p>

        <p>
            Access Code: 538-255-317
        </p>
        <ul>
            <li>France: +33 170 950 590</li>
            <li>Germany: +49 692 5736 7300</li>
            <li>Hungary (Toll Free): (06) 80 986 259</li>
            <li>Poland (Toll Free): 00 800 1124748</li>
            <li>Sweden: +46 853 527 818</li>
            <li>United Kingdom: +44 330 221 0097</li>
            <li>United States: +1 (786) 535-3119</li>
        </ul>

        <div class="panel panel-default phone-numbers">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#parent" href="#phone_nbrs">Expand this to find more phone numbers</a>
                </h4>
            </div>
            <div id="phone_nbrs" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Access Code: 538-255-317</p>

                    <ul>
                        <li>Argentina (Toll Free): 0 800 444 2385</li>
                        <li>Australia (Toll Free): 1 800 191 358</li>
                        <li>Australia: +61 2 8355 1038</li>
                        <li>Austria (Toll Free): 0 800 202144</li>
                        <li>Austria: +43 1 2530 22500</li>
                        <li>Bahrain (Toll Free): 800 81 305</li>
                        <li>Belarus (Toll Free): 8 820 0011 0331</li>
                        <li>Belgium (Toll Free): 0 800 81382</li>
                        <li>Belgium: +32 28 93 7002</li>
                        <li>Brazil (Toll Free): 0 800 025 8726</li>
                        <li>Bulgaria (Toll Free): 00800 120 4413</li>
                        <li>Canada (Toll Free): 1 888 299 1889</li>
                        <li>Canada: +1 (647) 497-9373</li>
                        <li>Chile (Toll Free): 800 395 146</li>
                        <li>China (Toll Free): 4008 866143</li>
                        <li>Colombia (Toll Free): 01 800 012 9057</li>
                        <li>Czech Republic (Toll Free): 800 143570</li>
                        <li>Denmark (Toll Free): 8025 3112</li>
                        <li>Denmark: +45 32 72 03 69</li>
                        <li>Finland (Toll Free): 0 800 917643</li>
                        <li>Finland: +358 923 17 0556</li>
                        <li>France (Toll Free): 0 800 919 896</li>
                        <li>France: +33 170 950 590</li>
                        <li>Germany (Toll Free): 0 800 184 4230</li>
                        <li>Germany: +49 692 5736 7300</li>
                        <li>Greece (Toll Free): 00 800 4414 4282</li>
                        <li>Hong Kong (Toll Free): 30774812</li>
                        <li>Hungary (Toll Free): (06) 80 986 259</li>
                        <li>Iceland (Toll Free): 800 9993</li>
                        <li>India (Toll Free): 000 800 852 1424</li>
                        <li>Indonesia (Toll Free): 001 803 852 9155</li>
                        <li>Ireland (Toll Free): 1 800 901 609</li>
                        <li>Ireland: +353 15 360 756</li>
                        <li>Israel (Toll Free): 1 809 452 627</li>
                        <li>Italy (Toll Free): 800 906955</li>
                        <li>Italy: +39 0 230 57 81 80</li>
                        <li>Japan (Toll Free): 0066 33 813 267</li>
                        <li>Korea, Republic of (Toll Free): 0806180880</li>
                        <li>Luxembourg (Toll Free): 800 29524</li>
                        <li>Malaysia (Toll Free): 1 800 81 6859</li>
                        <li>Mexico (Toll Free): 01 800 083 5535</li>
                        <li>Netherlands (Toll Free): 0 800 020 0178</li>
                        <li>Netherlands: +31 207 941 375</li>
                        <li>New Zealand (Toll Free): 0 800 14 1485</li>
                        <li>New Zealand: +64 9 913 2226</li>
                        <li>Norway (Toll Free): 800 69 055</li>
                        <li>Norway: +47 21 93 37 37</li>
                        <li>Panama (Toll Free): 001 800 507 2789</li>
                        <li>Peru (Toll Free): 0 800 77844</li>
                        <li>Philippines (Toll Free): 1 800 1110 1669</li>
                        <li>Poland (Toll Free): 00 800 1124748</li>
                        <li>Portugal (Toll Free): 800 784 711</li>
                        <li>Romania (Toll Free): 0 800 410 025</li>
                        <li>Russian Federation (Toll Free): 8 800 100 6217</li>
                        <li>Saudi Arabia (Toll Free): 800 814 2399</li>
                        <li>Singapore (Toll Free): 18007231322</li>
                        <li>South Africa (Toll Free): 0 800 555 451</li>
                        <li>Spain (Toll Free): 800 900 593</li>
                        <li>Spain: +34 932 75 1230</li>
                        <li>Sweden (Toll Free): 020 980 768</li>
                        <li>Sweden: +46 853 527 818</li>
                        <li>Switzerland (Toll Free): 0 800 000 452</li>
                        <li>Switzerland: +41 225 4599 60</li>
                        <li>Taiwan (Toll Free): 0 800 666 846</li>
                        <li>Thailand (Toll Free): 001 800 658 129</li>
                        <li>Turkey (Toll Free): 00 800 4488 29001</li>
                        <li>Ukraine (Toll Free): 0 800 60 9142</li>
                        <li>United Arab Emirates (Toll Free): 800 044 40444</li>
                        <li>United Kingdom (Toll Free): 0 800 031 4727</li>
                        <li>United Kingdom: +44 330 221 0097</li>
                        <li>United States (Toll Free): 1 866 899 4679</li>
                        <li>United States: +1 (786) 535-3119</li>
                        <li>Uruguay (Toll Free): 0004 019 1017</li>
                        <li>Vietnam (Toll Free): 122 80 105</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
