<section id="ocig" class="home section">
    <div class="container">
        <p class="contact-inner">
        <h2 class="title  text-center">openCypher Implementers Group (oCIG)</h2>

        <p>
            Following the second <a href="/event/2017/05/10/event-ocim2" target="_blank">openCypher Implementers
            Meeting (oCIM 2) in London in mid-May</a>, we're moving to a model where language changes proposed via
            Cypher Improvement Requests (<a
                href="https://github.com/opencypher/openCypher/issues?q=is%3Aopen+is%3Aissue+label%3ACIR"
                target="_blank">CIRs</a>) and Improvement Proposals (<a href="/cips/" target="_blank">CIPs</a>)
            are going to be discussed and agreed
            or rejected in regular virtual meetings of the openCypher community.
            The plan is to get going with a schedule of meetings every two to three weeks over the summer of 2017, heading
            towards the next face-to-face meeting at the time of Neo4j's GraphConnect New York conference in late October.
        </p>

        <p>
            These meetings of the openCypher Implementers Group (oCIG) are open to any interested parties who share
            the goals of improving the feature set, expressiveness and aesthetics of the Cypher language, and of
            helping Cypher to develop into a true open standard for declarative querying of property graphs.
        </p>

        <p>
            We warmly welcome vendors, researchers and users to these meetings.
            All contributions, verbal and written, administrative and technical are very much appreciated: the aim
            is make more and more of a reality of the open community that is beginning to form around the ten-plus
            implementations of Cypher.
        </p>

        <p>&nbsp;</p>

        <!-- Enumerate all oCIG posts, sorted -->
        {% assign sorted = (site.categories.ocig | sort: 'date') %}

        <!-- Display historical meetings -->
        <h3>Historical meetings</h3>
        {% for post in sorted %}
            {% assign postDateMillis = post.date | date: "%s" %}

            <ul>
            {% if postDateMillis < "1500501600" %}
                <li>
                    <a href="{{ post.url }}"><b>{{ post.date | date: "%A, %-d %B %Y" }}</b> (page)</a>
                </li>
            {% endif %}
            </ul>
        {% endfor %}

        <!-- This allows us to change the view of this page with one line edit -->
        {% assign nextDate = "Thursday, 27 July 2017" %}

        {% for post in sorted %}
            {% assign postDate = post.date | date: "%A, %-d %B %Y" %}
            {% if nextDate == postDate %}
                <h3>Next oCIG meeting: {{ nextDate }}</h3>
                <div class="inline-agenda">
                    {{ post.agenda | markdownify }}
                </div>
                <p>
                    Visit the <a href= {{ post.url }}>meeting page</a> to view all details of this meeting.
                    See the <a href="#meetings">full meetings schedule</a> below.

                    To join the meeting, follow this GotoMeeting link: <a href="https://global.gotomeeting.com/join/759233861." target="_blank">https://global.gotomeeting.com/join/759233861.</a>
                </p>
            {% endif %}
        {% endfor %}

        <h3>Local times</h3>
        <p>

            The call is scheduled for an hour and a half, and will start at <b>15.00 UTC</b>, which translates to:
        </p>
        <ul>
            <li>18.00 IDT (Tel Aviv)</li>
            <li>17.00 CEST (Berlin)</li>
            <li>16.00 BST (London)</li>
            <li>11.00 EDT (New York)</li>
            <li>08.00 PDT (San Francisco)</li>
        </ul>

        <h3>Meeting logistics</h3>

        <p>
            The meetings will be held every two to three weeks, commencing on Thursday the <b>22nd of June 2017</b>.
        </p>


        <p>
            The call will open 15 minutes prior to the beginning of the meeting in order to allow some contingency in
            sorting out the technicalities of joining.
        </p>

        <p>
            The meeting will be hosted by Neo Technology using <a href="https://www.gotomeeting.com/">GoToMeeting</a>.
            To participate in the meetings, either join using the desktop client, or through a web browser, or through a
            smartphone app, or dial in using a phone.
            The meeting id is <b>759233861</b>, or you can follow this <a
                href="https://global.gotomeeting.com/join/759233861." target="_blank">direct link</a>.

        </p>

        <p>
            Dialing in via phone is possible through these country numbers:
        </p>

        <p>
            Access Code: 936-502-805
        </p>
        <ul>
            <!--<li>Australia: +61 2 8355 1038</li>-->
            <!--<li>Austria: +43 1 2530 22500</li>-->
            <!--<li>Belgium: +32 28 93 7002</li>-->
            <!--<li>Canada: +1 (647) 497-9373</li>-->
            <!--<li>Denmark: +45 32 72 03 69</li>-->
            <!--<li>Finland: +358 923 17 0556</li>-->
            <!--<li>France: +33 170 950 590</li>-->
            <li>Germany: +49 692 5736 7317</li>
            <!--<li>Ireland: +353 15 360 756</li>-->
            <!--<li>Italy: +39 0 230 57 81 80</li>-->
            <!--<li>Netherlands: +31 207 941 375</li>-->
            <!--<li>New Zealand: +64 9 282 9510</li>-->
            <!--<li>Norway: +47 21 93 37 37</li>-->
            <!--<li>Spain: +34 932 75 1230</li>-->
            <li>Sweden: +46 853 527 827</li>
            <!--<li>Switzerland: +41 225 4599 60</li>-->
            <li>United Kingdom: +44 330 221 0088</li>
            <!--<li>United States: +1 (312) 757-3117</li>-->
        </ul>

        <h3><a name="meetings"></a>Full meetings schedule</h3>
        <ul>
            {% for post in sorted %}
                <li>
                    <a href="{{ post.url }}"><b>{{ post.date | date: "%A, %-d %B %Y" }}</b> (page)</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
