<!-- ******RESOURCES****** -->
<section id="projects" class="home section has-pattern">
    <div class="container">
        <div class="projects-inner">
            <h2 class="title text-center">Usage of Cypher</h2>

            <p>The implementations are ordered alphabetically within each category.</p>

            <h3>Cypher implementations (vendor/industrial)</h3>

            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project7">Agens Graph: A multi-model
                                database</a>
                        </h4>
                    </div>
                    <div id="project7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Agens Graph</h4>

                            <p>
                                Agens Graph is a multi-model (Relational + Graph) database. It is based on PostgreSQL
                                RDBMS.
                                With Agens Graph, one can retrieve a result from both relational and graph by a single
                                query at the same time.
                                Agens Graph supports ACID transactions and implements the graph data model.
                            </p>

                            <p>
                                The railroad diagrams and CIPs have been used as reference.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/bitnine-oss/agens-graph">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project13">AnzoGraph: A native massively parallel (MPP) analytical database</a>
                        </h4>
                    </div>
                    <div id="project13" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>AnzoGraph</h4>

                            <p>
                                AnzoGraph is a massively parallel graph database developed by Cambridge Semantics.
                            </p>
                            <p>
                                It is an analytical (OLAP) database that offers both SPARQL and openCypher support.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="http://anzograph.com">Anzograph</a></li>
                                <li><a href="https://www.cambridgesemantics.com/">Cambridge Semantics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#caps">CAPS: Cypher for Apache
                                Spark</a>
                        </h4>
                    </div>
                    <div id="caps" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>CAPS</h4>

                            <p>
                                Cypher for Apache Spark brings the leading graph query language, Cypher, onto the
                                leading distributed processing platform, Spark.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/opencypher/cypher-for-apache-spark">GitHub
                                    repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#cfog">Cypher for Gremlin</a>
                        </h4>
                    </div>
                    <div id="cfog" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Cypher for Gremlin</h4>

                            <p>
                                Cypher for Gremlin is a toolkit for users of Apache TinkerPop™ that allows querying
                                Gremlin databases with Cypher.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/opencypher/cypher-for-gremlin">GitHub repository</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#memgraph">Memgraph: An in-memory,
                                transactional graph database </a>
                        </h4>
                    </div>
                    <div id="memgraph" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Memgraph</h4>

                            <p>
                                Memgraph is a native, in-memory, transactional and fully distributed enterprise graph
                                platform.
                                Built from the ground up, Memgraph delivers real-time performance on transactional and
                                analytical workloads on web-scale data.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://www.memgraph.com">Website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#neo4j">Neo4j: A native, transactional
                                property graph database</a>
                        </h4>
                    </div>
                    <div id="neo4j" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Neo4j</h4>

                            <p>
                                Neo4j is a property graph database management system developed by Neo4j, Inc.
                                It is an ACID-compliant transactional database with native graph storage and processing,
                                and was the first implementation of Cypher.
                            </p>


                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://neo4j.com">Website</a></li>
                                <li><a href="https://github.com/neo4j/neo4j/">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project10">RedisGraph: A graph
                                module for Redis</a>
                        </h4>
                    </div>
                    <div id="project10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>RedisGraph</h4>

                            <p>
                                RedisGraph is the first queryable property graph database to use sparse adjacency matrices and linear algebra to represent and query graphs.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://oss.redislabs.com/redisgraph/">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project9">SAP HANA Graph</a>
                        </h4>
                    </div>
                    <div id="project9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>SAP HANA Graph</h4>

                            <p>
                                SAP HANA Graph is an integral part of SAP HANA core functionality. It expands the SAP
                                HANA platform with
                                native support for graph processing and allows you to execute typical graph operations
                                on the data stored in
                                an SAP HANA system.
                            </p>

                            <p>
                                SAP HANA Graph uses Cypher to express pattern matching queries.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="http://help.sap.com/hana/SAP_HANA_Graph_Reference_en.pdf">SAP HANA Graph
                                    Reference</a></li>
                                <li><a href="https://blogs.sap.com/2016/12/01/graph-processing-with-sap-hana-2/">Graph
                                    Processing with SAP HANA 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <h3>Cypher implementations (research)</h3>

            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#gradoop">Gradoop: Distributed graph
                                analytics on Hadoop</a>
                        </h4>
                    </div>
                    <div id="gradoop" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Gradoop</h4>

                            <p>
                                Gradoop is an open source research framework for scalable graph analytics built on top
                                of Apache Flink™ and Apache HBase™. It offers a graph data model which extends the
                                widespread property graph model by the concept of logical graphs and further provides
                                operators that can be applied on single logical graphs and collections of logical
                                graphs.
                            </p>

                            <p>
                                The implementation in Gradoop is part of a research project by the Database Group
                                Leipzig.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="http://dbs.uni-leipzig.de/en/research/projects/gradoop">Project website</a>
                                </li>
                                <li><a href="https://github.com/dbs-leipzig/gradoop">GitHub repository</a></li>
                                <li><a href="https://fosdem.org/2017/schedule/event/graph_cypher_on_flink/">FOSDEM
                                    talk</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project12">Graphflow: An active
                                graph database</a>
                        </h4>
                    </div>
                    <div id="project12" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Graphflow</h4>

                            <p>
                                Graphflow is a prototype active graph database developed by the Data Systems Group (DSG)
                                at the University of Waterloo. Active databases are those that support continuous
                                queries
                                and triggers. An example continuous query in the context of graph databases is
                                continuously finding cycles in an input graph and calling a user-defined function when
                                a new cycle emerges or gets deleted. Graphflow evaluates general one-time and continuous
                                subgraph queries and supports the property graph model. The database is implemented in
                                Java and provides a Cypher++ interface, which extends the Cypher query language with
                                subgraph-condition-action triggers. At the core of Graphflow’s query processor are two
                                worst-case optimal join algorithms called Generic Join and our new Delta Generic Join
                                algorithm for one-time and continuous subgraph queries, respectively.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/graphflow/graphflow">GitHub repository</a></li>
                                <li><a href="http://graphflow.io/">Website</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#ingraph">ingraph: Graph query
                                engine</a>
                        </h4>
                    </div>
                    <div id="ingraph" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>ingraph</h4>

                            <p>
                                The aim of the ingraph project is to evaluate openCypher graph queries incrementally.
                                Our long-term goal is to provide a horizontally scalable graph query engine, which is
                                able to perform complex graph queries on graphs with 100M+ elements.
                            </p>

                            <p>
                                ingraph uses the Antlr4 grammar for parsing, and the TCK as a reference for the
                                formalization & implementation.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="http://docs.inf.mit.bme.hu/ingraph/">Website</a></li>
                                <li><a href="https://github.com/ftsrg/ingraph">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project2">Ruruki: An in-memory graph
                                database</a>
                        </h4>
                    </div>
                    <div id="project2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Ruruki</h4>

                            <p>
                                Ruruki is a pure Python lightweight in-memory graph database designed to be used for
                                proof of concept projects or if you just need a temporary graph structure.
                            </p>

                            <p>
                                Ruruki bases its parser implementation on the EBNF grammar provided by openCypher.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/optiver/ruruki">GitHub repository</a></li>
                                <li><a href="http://ruruki.readthedocs.io">Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <h3>Cypher tools</h3>
            <div class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project11">Cytosm: Declarative
                                property graph queries without data migration</a>
                        </h4>
                    </div>
                    <div id="project11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Cytosm</h4>

                            <p>
                                Cytosm is an open-source software library for converting Cypher queries into plain old
                                SQL on-the-fly.
                            </p>

                            <p>
                                Cytosm was originally developed by researchers and engineers working on graph analytics
                                on a variety of databases.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/cytosm/cytosm">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project1">Graph databases support for
                                Jetbrains' family of IDEs</a>
                        </h4>
                    </div>
                    <div id="project1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Graph Database Support</h4>

                            <p>
                                The plugin may be used with, for example, IntelliJ IDEA, where it provides completion
                                and
                                highlighting of Cypher strings.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/neueda/jetbrains-plugin-graph-database-support/">GitHub
                                    repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project3">libcypher-parser: Cypher
                                parser written in C</a>
                        </h4>
                    </div>
                    <div id="project3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>libcypher-parser</h4>

                            <p>
                                libcypher-parser is a parser library and validation (lint) tool for Cypher.
                                The parser is written in C, and is intended for building tools and libraries in various
                                languages.
                            </p>

                            <p>
                                libcypher-parser bases its implementation on CIP documents and the grammar
                                specification.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://git.io/libcypher-parser">Website</a></li>
                                <li><a href="https://github.com/cleishm/libcypher-parser">GitHub repository</a></li>
                                <li><a href="https://tracker.debian.org/pkg/libcypher-parser">Debian/Ubuntu
                                    distribution</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project4">Neo4j Cypher DSL
                                implementation using Jetbrains MPS</a>
                        </h4>
                    </div>
                    <div id="project4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!--<h4>Neo4j Cypher DSL implementation using Jetbrains MPS</h4>-->

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/corlab/Neo4jCypher">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#nodejs">Node.js Cypher Parser</a>
                        </h4>
                    </div>
                    <div id="nodejs" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>Node.js Cypher Parser</h4>

                            <p>
                                A Cypher graph query language parser/linter addon module for Node.js.
                            </p>
                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://www.npmjs.com/package/cypher-parser">Npm Package</a></li>
                                <li><a href="https://github.com/Loupi/node-cypher-parser">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project8">ocparse: Cypher parser
                                written in Erlang</a>
                        </h4>
                    </div>
                    <div id="project8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>ocparse</h4>

                            <p>
                                ocparse is based on the EBNF grammar.
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="https://github.com/walter-weinmann/ocparse">GitHub repository</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#parent" href="#project6">slizaa: Software
                                architecture workbench</a>
                        </h4>
                    </div>
                    <div id="project6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h4>slizaa</h4>

                            <p>
                                slizaa is a customizable software architecture workbench that allows you to explore and
                                visualize the structure and the dependencies of Java-based software systems.

                                slizaa uses Neo4j/jQAssistant and provides a frontend with a bunch of specific tools
                                and viewers to provide an easy-to-use in-depth insight of your software's architecture.
                            </p>

                            <p>
                                An Xtext-based grammar for Cypher queries was originally developed as part of slizaa and
                                has since turned into a standalone project.
                                The Xtext-based implementation is based on the ANTLR 4
                                grammar provided by the openCypher project (see links below).
                            </p>

                            <h4>Links</h4>
                            <ul>
                                <li><a href="http://www.slizaa.org">Website</a></li>
                                <li><a href="https://github.com/slizaa/slizaa">GitHub repository (home)</a></li>
                                <li><a href="https://github.com/code-kontor/openCypher-Xtext">GitHub repository
                                    (openCypher Xtext grammar)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
