<section id="references" class="home section">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">References</h2>

            <p>
                Here is a list of publications, talks and slides, grouped by topic.
                Please note that this list is not exhaustive.
            </p>

            <h3>Property graph data model</h3>

            <h4>Publications</h4>
            <ol>
                <li>
                    Martínez-Bazan, N., Muntés-Mulero, V., Gómez-Villamor, S., Nin, J., Sánchez-Martínez, M-A., and Larriba-Pey, J-L.
                    DEX: High-performance Exploration on Large Graphs for Information Retrieval.
                    In <i>Proc. 16th ACM Conference on Information and Knowledge Management</i>, pages 573–582, 2007.
                </li>
                <li>
                    Rodriguez, M. A., and Neubauer, P.
                    Constructions from Dots and Lines.
                    <i>CoRR, abs/1006.2361</i>, 2010.
                </li>
                <li>
                    Hartig, O.
                    Reconciliation of RDF* and Property Graphs.
                    <i>CoRR, abs/1409.3288</i>, 2014.
                </li>
            </ol>

            <h3>Graph querying in general (including regular path queries)</h3>

            <h4>Publications</h4>
            <ol>
                <li>
                    Cruz, I. F., Mendelzon A. O., and Wood, P. T.
                    A graphical query language supporting recursion.
                    In <i>Proc. ACM SIGMOD</i>, pages 323–330, 1987.
                </li>
                <li>
                    Wood, P. T.
                    Query Languages for Graph Databases.
                    <i>SIGMOD Record</i>, pages 50-60, 2012.
                </li>
                <li>
                    Barceló, P., Libkin, L., Lin, A. W., and Wood, P. T.
                    Expressive Languages for Path Queries over Graph-Structured Data.
                    <i>ACM Transactions on Database Systems (TODS)</i>, pages 1-46, 2012.
                </li>
                <li>
                    Barceló, P., Libkin, L., and Reutter, J. L.
                    Querying Regular Graph Patterns.
                    <i>ACM Journal</i>, pages 1-54, 2014.
                </li>
                <li>
                    Libkin, L., Martens, W., and Vrgoč, D.
                    Querying Graphs with Data.
                    <i>ACM Journal</i>, pages 1-53, 2016.
                </li>

            </ol>

            <h3>Cypher</h3>

            <h4>Publications</h4>
            <ol>
                <li>
                    Yang, M.
                    A Study of Execution Strategies for openCypher on Apache Flink.
                    <i>Master's thesis, Eindhoven University of Technology.</i>, 2016.
                </li>
                <li>
                    Marton, J., Szárnyas, G. and Varró, D.
                    Formalising openCypher Graph Queries in Relational Algebra.
                    In <i>Proc. 21st European Conference on Advances in Databases and Information Systems (ADBIS)</i>, 2017.
                </li>
                <li>
                    Junghanns, M., Kiessling, M., Averbuch, A., Petermann, A. and Rahm, E.
                    Cypher-based Graph Pattern Matching in Gradoop.
                    In <i>Proc. 5th International Workshop on Graph Data-management Experiences & Systems (GRADES)</i>, 2017.
                </li>
                <li>
                    Steer, B.A., Alnaimi, A., Lotz, M.A.B.F.G., Cuadrado, F., Vaquero, L.M., and Varvenne, J.
                    Cytosm: Declarative Property Graph Queries Without Data Migration.
                    In <i>Proc. 5th International Workshop on Graph Data-management Experiences & Systems (GRADES)</i>, 2017.
                </li>
                <li>
                    Kankanamge, C., Sahu, S., Mhedbhi, A., Chen, J., and Salihoglu, S.
                    Graphflow: An Active Graph Database.
                    In <i>Proc. 2017 ACM SIGMOD International Conference on Management of Data</i>, 2017.
                </li>
            </ol>

            <h3>Graph composition and graph operations</h3>

            <h4>Publications</h4>
            <ol>
                <li>
                    He, H., and Singh, A. K.
                    Graphs-at-a-time: Query Language and Access Methods for Graph Databases.
                    In <i>Proc. 2008 ACM SIGMOD International Conference on Management of Data</i>, 2008.
                </li>
                <li>
                    He, H., and Singh, A. K.
                    Query Language and Access Methods for Graph Databases.
                    <i>Managing and Mining Graph Data</i>, pages 125-160. Springer Publishing, 2010.
                </li>
            </ol>

            <h3>General</h3>

            <h4>Publications</h4>
            <ol>
                <li>
                    Angles, R., and Gutierrez C.
                    Survey of graph database models.
                    <i>ACM Computing Survey</i>, 40(1):1:1–1:39, 2008.
                </li>
            </ol>

        </div>
    </div>
</section>