<!-- ******RESOURCES****** -->
<section id="resources" class="resources section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">openCypher Resources</h2>

            <div>
                <p>
                    The table below provides links to consumable artifacts produced as part of the openCypher project.
                </p>
                <table class="table table-responsive">
                    <thead><tr>
                        <th>Resource name</th>
                        <th>Latest stable version</th>
                        <th>Snapshot version</th>
                    </tr></thead>
                    <tr>
                        <td>Technology Compatibility Kit (TCK)</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/tck-M04.zip" target="_blank">tck-M04</a></td>
                        <td><a href="https://github.com/opencypher/openCypher/tree/master/tck#the-cypher-technology-compatibility-kit-tck" target="_blank">tck-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>Grammar specification</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/grammar-M04.zip" target="_blank">grammar-M04</a></td>
                        <td><a href="https://github.com/opencypher/openCypher/blob/master/grammar/cypher.xml" target="_blank">grammar-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>Antlr grammar</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/Cypher.g4" target="_blank">antlr-grammar-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/Cypher.g4" target="_blank">antlr-grammar-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>Antlr grammar (legacy*)</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/legacy/Cypher.g4" target="_blank">antlr-grammar-legacy-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/legacy/Cypher.g4" target="_blank">antlr-grammar-legacy-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>EBNF grammar</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/cypher.ebnf" target="_blank">ebnf-grammar-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/cypher.ebnf" target="_blank">ebnf-grammar-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>EBNF grammar (legacy*)</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/legacy/cypher.ebnf" target="_blank">ebnf-grammar-legacy-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/legacy/cypher.ebnf" target="_blank">ebnf-grammar-legacy-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>Railroad diagrams</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/railroad/Cypher.html" target="_blank">railroad-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/railroad/Cypher.html" target="_blank">railroad-snapshot</a></td>
                    </tr>
                    <tr>
                        <td>Railroad diagrams (legacy*)</td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M04/legacy/railroad/Cypher.html" target="_blank">railroad-legacy-M04</a></td>
                        <td><a href="https://s3.amazonaws.com/artifacts.opencypher.org/legacy/railroad/Cypher.html" target="_blank">railroad-legacy-snapshot</a></td>
                    </tr>
                </table>
                <p>
                    The process of standardising the Cypher language has led to two versions of the grammar being maintained: standardised and legacy.
                </p>
                <p>
                    The standardised version only includes the Cypher language constructs that have been adopted for standardisation,
                    as detailed in the <a href="https://github.com/opencypher/openCypher/blob/master/docs/standardisation-scope.adoc">Standardisation Scope</a> document.
                <p/>
                <p>
                    * The legacy version of the grammar (and artifacts generated from it) additionally includes Cypher language constructs that are supported by
                    vendors, but have not been selected for standardisation. Read more about this <a href="https://github.com/opencypher/openCypher/tree/master/grammar#legacy-grammar">here</a>.
                </p>
            </div>

            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Stay Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://groups.google.com/forum/#!forum/opencypher" target="_blank"><i class="fa fa-group"></i></a></li>
                    <li><a href="https://twitter.com/opencypher" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto: openCypher@neotechnology.com"><i class="fa fa-envelope"></i></a></li>
                    <li class="last"><a href="https://github.com/opencypher/openCypher"><i class="fa fa-github"></i></a></li>
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
