<!-- ******RESOURCES****** -->
<section id="resources" class="home section">
    <div class="container">
        <div class="contact-inner">

            <h2 class="title  text-center">Resources</h2>

            <h3>Overview</h3>
            <p>
                The following openCypher specification resources are available.
            </p>
            <ul>
                <li>The <a href="https://github.com/opencypher/openCypher/tree/main/cip">openCypher specification documents</a>,
                    containing a complete reference for openCypher query language.
                </li>
                <li>The <a href="https://github.com/opencypher/openCypher/tree/main/tck">TCK (Technology Compatibility Kit)</a>
                    is a Cucumber-based set of tests that can be used for any openCypher implementation in any of the many
                    programming languages supported by Cucumber.
                    <ul>
                        <li>Defines the correct behaviour of openCypher under various conditions.</li>
                        <li>Provides an unambiguous way of certifying implementations for correctness.</li>
                        <li>Documents the behaviour of queries in a clear manner.</li>
                        <li>Grouped into <em>features</em>, each of which consists of a set of <em>scenarios</em>, which comprise ordered <em>steps</em> defining the prerequisites, input and expected output.</li>
                        <li>Allows a proposed change to be expressed clearly, through the modification of existing scenarios or the addition of a new scenario.</li>
                    </ul>
                </li>
                <li>The <a href="https://github.com/opencypher/openCypher/tree/main/grammar">openCypher Grammar specification</a>
                    in ISO WG3 BNF format.
                </li>
            </ul>

            <h3>Latest openCypher resources</h3>
            <ul>
                <li><a href="https://mvnrepository.com/artifact/org.opencypher/cip/2024.1" target="_blank">openCypher specification documents</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.opencypher/grammar/2024.1" target="_blank">Grammar specification</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.opencypher/tck/2024.1" target="_blank">Technology Compatibility Kit (TCK)</a></li>
            </ul>

            <h3>openCypher 9 resources</h3>
            <p>
                The last release of openCypher before the openCypher project hit the road to GQL are listed below.
                Note that some of these resources are not maintained beyond this version.
            </p>
            <ul>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/openCypher9.pdf" target="_blank">Cypher Query Language Reference (Version 9)</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/docs/style-guide.pdf" target="_blank">Cypher Style Guide</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/tck-M23.zip" target="_blank">Technology Compatibility Kit (TCK)</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/grammar-M23.zip" target="_blank">Grammar specification</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/Cypher.g4" target="_blank">Antlr grammar</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/cypher.ebnf" target="_blank">EBNF grammar</a></li>
                <li><a href="https://s3.amazonaws.com/artifacts.opencypher.org/M23/railroad/Cypher.html" target="_blank">Railroad diagrams</a></li>
                <li><a href="https://mvnrepository.com/artifact/org.opencypher/tck-api" target="_blank">TCK API</a></li>
            </ul>
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
