<!-- ******RESOURCES****** -->
<section id="resources" class="resources section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">openCypher Resources</h2>
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Stay Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://groups.google.com/forum/#!forum/opencypher" target="_blank"><i class="fa fa-group"></i></a></li>
                    <li><a href="https://twitter.com/opencypher" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto: openCypher@neotechnology.com"><i class="fa fa-envelope"></i></a></li>
                    <li class="last"><a href="https://github.com/opencypher/openCypher"><i class="fa fa-github"></i></a></li>
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
